<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="justLogPrefix" converterClass="com.just.butterfly.common.config.JustPrefixLogConfig" />
    <property name="PATTERN" value="%justLogPrefix %d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger{36}] - %msg%n"/>

    <property name="FILE-PATH" value="/data/logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="APPLICATION-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE-PATH}/butterfly-biz/application/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE-PATH}/butterfly-biz/application/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>100</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="local">
        <logger name="com.just" level="DEBUG" additivity="false">
            <appender-ref ref="APPLICATION-FILE"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev,test,pre">
        <logger name="com.just" level="DEBUG" additivity="false">
            <appender-ref ref="APPLICATION-FILE"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="APPLICATION-FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="pro">
        <logger name="com.just" level="INFO" additivity="false">
            <appender-ref ref="APPLICATION-FILE"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="APPLICATION-FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>