<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <conversionRule conversionWord="LogPrefix" converterClass="com.directrent.common.config.applicaition.PrefixLogConfig" />

    <property name="PATTERN" value="%LogPrefix %d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger{36}] - %msg%n"/>
    <property name="FILE-PATH" value="/data/logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="APPLICATION-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE-PATH}/house/application/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE-PATH}/directrent-house/application/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>100</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="local">
        <logger name="com.directrent" level="DEBUG" additivity="false">
            <appender-ref ref="APPLICATION-FILE"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev,test,pre,junit">
        <logger name="com.directrent" level="DEBUG" additivity="false">
            <appender-ref ref="APPLICATION-FILE"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="APPLICATION-FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="pro">
        <logger name="com.directrent" level="INFO" additivity="false">
            <appender-ref ref="APPLICATION-FILE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="APPLICATION-FILE"/>
        </root>
    </springProfile>

    <!--输出到mysql数据库的appender配置     -->
    <!--<appender name="db" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource
                class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.jdbc.Driver</driverClass>
            <url>jdbc:mysql://120.0.0.1:3306/logback_member?characterEncoding=utf8</url>
            <user>root</user>
            <password>123456789</password>
        </connectionSource>
    </appender>-->

</configuration>